body {
    background: #ADD8E6;
    margin: 0;
}

.header {
    padding: 50px;
    text-align: center;
    background: #20B2AA;
    color: white;
}

a{
    text-decoration: none;
    color: black;
}

.service-container {
    width: 100%;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.service-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.service-item {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    position: relative;
    flex: 1;
    text-align: center;
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.service-item:hover {
    background-color: #dddddd;
    border-color: #bbbbbb;
}

.sub-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-top: none;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    flex-direction: column;
    width: 100%;
    z-index: 1;
}

.service-item:hover .sub-list {
    display: flex;
}

.sub-item {
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    list-style-type: none;
    text-align: center;
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    transition: all 0.2s ease-in-out;
}

.sub-item:last-child {
    border-bottom: none;
}

.sub-item:hover {
    background-color: #f2f2f2;
    color: #333333;
}