body {
    background: #ADD8E6;
    margin: 0;
}

.header {
    padding: 50px;
    text-align: center;
    background: #20B2AA;
    color: white;
}

.navbar {
    overflow: hidden;
    background-color: #191970;
    /*position: sticky;
  position: -webkit-sticky;
  top: 0;*/
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

.navbar a:hover{
    background-color: aqua;
    color: #191970;
    font-size: 20px;
}

@keyframes pulse {
    0% {
        font-size: 16px;
    }
    50% {
        font-size: 20px;
    }
    100% {
        font-size: 16px;
    }
}

.header h1 {
    font-size: 50px;
}

a{
    text-decoration: none;
}

.service-list {
    list-style-type: none; /*this is to remove the bullets*/
    margin: 0;
    padding: 0;
    display: flex;
        /* Set display property to flex */
    flex-direction: row;
        /* Set flex-direction to row */
}

.service-item {
    padding: 10px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    position: relative; /*dw about this*/
    flex: 1;
        /* Set flex property to 1 to distribute equal width */
        text-align: center;
        /* Center text */
}

.service-item:hover { /*when u bring ur mouse cursor over a single item in the menu the this will change the background color*/
    background-color: #ddd;
}

.sub-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f2f2f2;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    list-style-type: none;
}

.service-item:hover .sub-list {
    display: block;
    cursor: pointer;
}

.sub-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.sub-item:last-child {  /*for the last item in the sublist dont show any borders on the bottom*/
    border-bottom: none;
}